@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/*  font-family: "Azeret Mono", monospace; */
/* nav styles */
*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 140px;
  }
  .nav-title{
    font-weight: 800;
    font-size: 28px;
  }
nav a{
    /* font-size: 180px;
    font-weight: 600;
    text-align: center;
    line-height: 23px; */
}
nav button{
    /* box-sizing: border-box; */
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;

opacity: 0.8;
width: 300px;
height: 58px;

background-color: #fff;



}
.btn-primary{
    font-size: 25px;
}
.hero-section{
    width: 1670px;
    height: 652px;
    background-image: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;

    
}
.hero-section-title h1{
    font-size: 48px;
font-weight: 800;
}
.hero-content{
    /* width: 998px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 26px 221px 44px 221px;
    text-align: center;
}
.hero-section-img{
    margin-top: 24px;
}
.hero-section-title{
    margin-top: 34px;
}
.hero-section-description{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 24px;
margin-bottom: 32px;
}
#btn-contact{
    width: 300px;
height: 66px;
border-radius: 8px;

background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-size: 20px;
padding: 21px 24px 21px 24px;
}
/* main section style */
main{
    width: 90%;
    height: 1300px;
    margin: 0 auto;
    padding: 0 auto;
    
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.main-section-heading{
    text-align: center;
    width: 72%;
    margin: 0 auto;
}
.main-section-heading h1{
    
Font weight: 800;
Font size: 32px;
Row height: 37px;
text-align: center;
margin-bottom: 30px;
margin-top: 80px;
}
.main-section-heading p{
    margin-bottom: 100px;
}
.featured-content-1, .featured-content-3{
    width:70%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: 0 auto;
    /* border: 2px solid red; */
    padding: 30px;
    background-color: #fff;
   
}
.featured-content-2{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.featured-text{
    width: 50%;
    height: 220px;
    /* border: 2px solid red; */
}
.featured-img{
    /* width: 40%; */
}
.featured-title h1{
   font-weight: 700;
   font-size: 24px;
}
.featured-description p{
    font-size: 16px;
    text-align: left;
    margin: 30px 0px;
}
.featured-btn{}
.featured-btn button{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 2px;
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
background-color: #fff;

}
.featured-img-2{
    width: 40%;
}
.featured-text-2{
    width: 60%;
}
.inspiration-section{
    width: 90%;
    height: 800px;
    margin: 0 auto;
    padding: 0 auto;
    
    border-radius: 16px;
    align-items: center;
}
.inspiration-content{
    width: 70%;
    margin: 0 auto;
    
    
    }
.inspiration-heading{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding: 20px;
}
.inspiration-description{
    text-align: center;
    margin: 10px 0px;
}
.inspiration-video{
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
    /* border: 3px solid ; */
    text-align: center;

}
#insvid{
    border-radius: 16px;
}
.text-center{
    text-align: center;
}
.current-target{
    width: 70%;
    margin: 0 auto;
}
.targets-container{
    display: flex;
    gap: 5px;
}
.section-title{
    font-size: 32px;
    font-weight: 800;
}
.target{
    padding: 20px;
    
    border-radius: 16px;
    height: 300px;
    margin: 10px;

background: rgba(255, 76, 30, 0.05);
}
#bg-2{
    background: rgba(0, 76, 232, 0.05); 
}
.target-title{
    font-size: 24px;
font-weight: 800;
margin: 10px;
}
.target-description{
    color: rgb(13, 19, 33);

font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin: 40px 0px;
}
.more{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration-line: underline;
padding: 10px;
}
/* support section style */
.support-section{
    width: 70%;
    height: 413px;
    margin: 0 auto;
    
    background-image: url('../images/handshake.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
/* support section style */
.support-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}
.support-content h1{
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.support-content p{
    margin-bottom: 30px;
    color: white;
}
.support-content input{
    width: 548px;
    height: 50px;
    padding: 10px;
    border: none;
}
#btn-3{
    width: 110px;
    height: 73px;
    padding: 10px;
    border-radius: 5px;
}
/* footer section style */
.footer-content{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}